.button {
  font-family: "PT Sans", serif;
  font-size: 1.8rem;
  padding: 0.5em 1.5em;
  outline: none;
  background-color: transparent;
  border: 2px solid $white;
  text-transform: uppercase;
  color: $white;
  letter-spacing: 1.3px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: 1s all;
    background-color: #fff;
    z-index: -1;
  }
  &:hover{
      color: black;
      font-weight: bold;
  }
  &__collection {
    display: block;
    margin: 0 auto;
    &:hover.button__collection::before {
      left: 0;
    }
  }
  &__twoeight{
    &:hover.button__twoeight::before {
        left: 0;
    }
  }
  &__footer{
    color: $white;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    background-color: #0f0f0f;
    outline: none;
    border: none;
    padding: 10px 20px;
  }
  
}
