.buy{
    &__window{
        color: $white;
        .wrapper{
            width: 600px;
            margin: 0 auto;
        }
        .title{
            margin-bottom: 30px;
        }
    }
    &__block{
        display: flex;
        // justify-content: space-between;
    }
    
}

.goods{
    &__img{
        margin-right: 30px;
        img{
            width: 215px;
            height: 215px;
        }
    }
    &__name{
        font-size: 3rem;
        margin-bottom: 10px;
        line-height: 1;
    }
    &__price{
        font-size: 2.5rem;
        margin-bottom: 10px;
        line-height: 1;
    }
    &__count-panel{
        display: flex;
        align-items: center;
        min-height: 50px;
        margin-bottom: 20px;
    }
    &-minus,
    &-count,
    &-plus{
        font-size: 5rem;
        line-height: 1;
        background-color: #0f0f0f;
        padding: 10px;
        cursor: pointer;
        user-select:none
    }
    &-count{
        background-color: black;
        cursor: text;
    }
    
}