@media (max-width: 1300px){
   .collection{
       &__wrapper{
           grid-template: minmax(730px,1fr) 300px / 1fr;
       }
       .new__wrapper{
           margin-top: 50px;
       }
   }
}

@media (max-width:1199px){
    .footer{
        &__title,
        &__descr{
            margin-bottom: 15px;
        }
    }
    .brand__img{
        width: 210px;
        img{
            object-fit: contain;
        }
    }
    .goods__wrapper{
        justify-content: center;
        .collection__item{
            margin: 15px;
        }
    }
}

@media (max-width: 991px){
    .brand{
        &__img{
            width: 180px;
        }
    }

}

@media (max-width: 910px){
    .collection{
        &__wrapper-second{
            grid-template: 350px minmax(300px,1fr) / 1fr;
            
            .collection__backImg{
                background-attachment: fixed;
            }
        }
    }
    .shopcart{
        width: 85%;
    }
}

@media (max-width: 767px){
    .header__info{
        li:nth-child(2){
            display: none;
        }
    }
    .collection{
        &__wrapper{
            grid-template: 1fr/ 1fr;
            &-second{
                grid-template: 300px minmax(300px,1fr) / 1fr;
            }
        }
        .items__wrapper{
            flex-wrap: wrap;
        }
        &__item{
            margin-bottom: 15px;
        }
        &__new{
            padding: 15px 0;
        }

    }
    .goods__wrapper{
        justify-content: space-between;
        .collection__item{
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
    .brand{
        &__img{
            width: 260px;
        }
    }
}

@media(max-width:575px){
    .container{
        width: auto;
    }
    #workTime{
        display: none;
    }
    .collection{
        &__twoeight{
            .wrapper{
                width: auto;
            }
        }
    }

    .overlay .success__purchase{
        h2.title{
            font-size: 2.5rem;
        }
        .question{
            font-size: 2.1rem;
            margin-bottom: 5px;
        }
        button{
            font-size: 1.7rem;
        }
    }

    .footer__form{
        display: flex;
        flex-direction: column;
        input{
            margin-bottom: 10px;
           
        }
        button{
            width: 210px;
        }
    }
    .buy__window{
        .wrapper{
            width: auto;
        }
        h2.title{
            font-size: 2.3rem;
        }
    }
    .buy__block{
        flex-direction: column;
        align-items: center;
    }
    .overlay{
        .close{
            right: -2px;
            top: 59px;
        }
    }
    .shop__items-wrapper{
        padding-top: 80px;
    }
    .shop-item{
        flex-direction: column;
        align-items: center;
        .shop__info{
            font-size: 1.6rem;
        }
    }
    .shopcart{
        .shop__img{
            width: 150px;
            height: 150px;
            img{
                display: block;
                height: 100%;
                object-fit: contain;
            }
        }
        button#ckeckout{
            top: 100px!important;
        }
        &-close{
            top: 35px;
        }
    }
}