@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}
@import 'vars';
@import 'button';

@import 'reboot.min.scss';
@import 'fonts';


@import 'header';
@import 'main';
@import 'collection';
@import 'goods';
@import 'brand';
@import 'footer';
@import 'buy';


html{
    font-size: 62.5%;
}

body{
    background-color: #000;
    overflow-x: hidden!important;

    position: relative;
}

.container{
    width: 1100px;
}

h2.title{
    font-size: 3.6rem;
    text-transform: uppercase;
    font-family: 'Playfair Display',serif;
    text-align: center;
    &::after{
        content: '';
        display: block;
        margin: 0 auto;
        width: 120px;
        height: 2px;
        background-color: $gray;
        margin-top: 25px;
    }
}

.toTop{
    width: 50px;
    height: 50px;
    background-color: rgb(37, 37, 37);
    position: fixed;
    bottom: -100%;
    right: 15px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    transition: .5s all;
    &_active{
        bottom: -10px;
    }
    &:hover{
        bottom: -5px;
    }
    img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}